---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
I have extensive experience teaching at the graduate and undergraduate levels, both in substantive topics and in research tools for the social sciences. At the University of Michigan, I designed courses at the graduate level for social science computing and I served as a Graduate Student Instructor for full-term classes in international relations and comparative politics in the Department of Political Science. During government and military service, I conducted instruction in analytic writing and tradecraft, and applied geospatial information services.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

